<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.store.repository.ItemMapper">
    <select id="selectAllItems" resultType="com.example.store.model.Item">
        SELECT item.id as "id", item.name as "name", item.price as "price"
        FROM item
    </select>
</mapper>